<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KissanKart</title>
</head>
<body>
    <h3>Add New Product</h3>
    <form method="POST" action="/products">
        <input name="product[name]" placeholder="enter name" type="text">
        <br><br>
        <textarea name="product[description]" placeholder="enter description" type="text"></textarea>
        <br><br>
        <input name="product[image]" placeholder="enter image URL/Link" type="text">
        <br><br>
        <input name="product[price]" placeholder="enter price" type="number">
        <br><br>
        <button>Add</button>
        <br><br>
    </form>
</body>
</html>